CompileFlags:
  Add:
    - "-I"
    - "c:/Users/alfre/Documents/Wall-e/libraries"
    - "-I"
    - "c:/Users/alfre/Documents/Wall-e/libraries/Adafruit_PN532"
    - "-I"
    - "c:/Users/alfre/Documents/Wall-e/libraries/Adafruit_BusIO"
    - "-I"
    - "c:/Users/alfre/Documents/Wall-e/libraries/LiquidCrystal_I2C"
    - "-I"
    - "c:/Users/alfre/Documents/Wall-e/libraries/16x2_LCD_Library"
    - "-I"
    - "c:/Users/alfre/Documents/Wall-e/libraries/BitBang_LiquidCrystal_I2C"
    - "-I"
    - "c:/Users/alfre/Documents/Wall-e/libraries/DIYables_LCD_I2C"
    - "-I"
    - "c:/Users/alfre/Documents/Wall-e/libraries/I2C_LiquidCrystal_RUS"
    - "-I"
    - "c:/Users/alfre/Documents/Wall-e/libraries/LiquidCrystal"
