# Python & Django
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.env
db.sqlite3
web/staticfiles/
web/media/

# Embedded & C/C++
build/
*.hex
*.elf
*.bin
.clangd/
compile_flags.txt

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Archives & Temporary Legacy Folders
*.zip
Pag_Servicio_Biblioteca/
sketch_aug6c/
